.bottom{
	width:100%;
	background-color: white;
}
.bottom_box{
	width: 1200px;
	margin: 0 auto;
	background-color: white;
}
.bottom_01{
	width:1200px;
	margin: 10px auto;
}
.bottom_01 p{
	height: 22px;
	line-height: 22px;
	text-align: center;
}
.bottom_01 p span{
	font-size: 14px;
	color: #333333;
}
.bottom_01 p a{
	font-size: 14px;
	line-height: 22px;
	text-decoration: none;
	color: #666666;
	background-color: transparent;
}
.bottom_01 p a:hover{
	cursor: pointer;
	text-decoration: underline;
	color: #1CAFFC;
}
.bottom_02{
	width:1200px;
	margin: 10px auto;
	height: 50px;
	border: 1px solid #A9A9A9;
	border-left: none;
	border-right: none;
}
.bottom_02 ul{
	margin-left:200px;
}
.bottom_02 ul li{
	float:left;
	margin-right: 50px ;
	text-align: center;
	font-size: 14px;
	line-height: 50px;
}
.bottom_02 ul li a{
	text-decoration: none;
	color: #666666;
	background-color: transparent;
}
.bottom_02 ul li a:hover{
	cursor: pointer;
	text-decoration: underline;
	color: #1CAFFC;
}
.bottom_03{
	width:1200px;
	margin: 10px auto;
}
.bottom_03 ul li{
	float: left;
	margin-left: 80px;
}
.bottom_03 ul li p{
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	color: #666666;
}
.bottom_03 ul li .pfrt{
	font-size: 14px;
	color: #333333;
}
.bottom_04{
	width: 1200px;
	margin-top:120px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;

	}
.bottom_04 p{
	text-align: center;
}