* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font: "Microsoft Yahei";
}

html {
    width: 100%;
    height: 100%;
}

body {
    color: #333;
    background: #283643;
    font-size: 14px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ".";
    clear: both;
    height: 0;
}

a {
    text-decoration: none !important;
}

.header {
    position: fixed;
    top: 0px;
    background: #1cc09f;
    width: 100%;
    min-width: 1160px;
    height: 60px;
    z-index: 2;
}

.header a {
    line-height: 60px;
    font-size: 25px;
    display: inline-block;
    color: #fff;
    width: 260px;
    background: #283643;
    height: 60px;
    text-align: center;
    border-bottom: rgb(70, 93, 88) 3px solid;
    position: relative;
    top: 0;
}

.glyphicon-home {
    top: 3.5px;
}

.header a:hover {
    color: #1cc09f;
}

.ul_right {
    height: 60px;
    margin: 0;
    float: right;
    display: block;
}

.ul_right li {
    display: inline-block;
    min-width: 60px;
    color: #fff;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    margin-left: 15px;
}

.last_li {
    border-left: 1px solid #fff;
    cursor: pointer;
}

.center-block {
    width: 40px;
    height: 40px;
}

.nav {
    width: 260px;
    height: 440px;
    position: fixed;
    top: 70px;
    left: 0px;
    z-index: 1;
}

.nav ul {
    width: 260px;
    height: 440px;
}

.nav ul li {
    width: 260px;
    height: 55px;
    border-bottom: rgba(107, 108, 109, 0.19) 1px solid;
}

.nav ul li a {
    display: block;
    font-size: 16px;
    width: 260px;
    height: 55px;
    line-height: 55px;
    color: rgb(111, 154, 115);
    padding-left: 70px;
}

.icon {
    color: #1cc09f;
    margin-right: 5px;
}

.active {
    color: #FFF !important;
    background: #1cc09f;
}

.active .icon {
    color: #FFF !important;
}

.nav ul li a:hover {
    color: #fff !important;
    background: #1cc09f;
}

.nav ul li a:hover .icon {
    color: #FFF !important;
}

.main {
    min-height: 900px;
    position: relative;
    top: 60px;
    background: #f3f3f3;
    margin-left: 260px;
    padding: 0px;
    display: block;
}

.handle {
    width:100%;
    min-width: 900px;
    height: 70px;
    background: #fff;
    margin-top: 10px;
}

.caozuo_word {
    display: block;
    float: left;
    line-height: 70px;
    width: 200px;
    height: 70px;
    font-size: 20px;
    color: #357d60;
    text-align: center;
    border-right: #f3f3f3 7px solid;
    border-left: #f3f3f3 7px solid;
}

.caozuo {
    display: block;
    height: 70px;
    line-height: 70px;
    margin-left: 100px;
    float: left;
}

.caozuo input {
    width: 180px;
    display: inline-block;
}

.btn_caozuo {
    margin-right: 100px;
    width: 100px;
    padding: 6px 0px;
}

.main_inner {
    width: 100%;
    min-width: 900px;
    margin-top: 10px;
    min-height: 900px;
}

.table_list {
    width: 100%;
    height: 830px;
    background: #fff;
    padding: 10px;
}

.pages {
    width: 100%;
    height: 60px;
    background: #9bcb9d;
    margin-top: 10px;
    font-size: 15px;
}

.totalElements {
    width: 100px;
    line-height: 60px;
    text-align: center;
    display: block;
    float: left;
}

.btn_pages {
    width: 450px;
    height: 60px;
    display: block;
    float: right;
    line-height: 60px;
}

.btn_pages input {
    height: 30px;
    width: 40px;
    padding: 0px 5px;
    text-align: right;
    display: inline-block;
}

.btn-page {
    width: 60px;
    padding: 6px 0px;
}

.list {
    width: 100%;
    max-height: 810px;
    text-align: center;
    color: rgb(75, 95, 83);
    font-size: 14px;
    table-layout: fixed;
}

.list th {
    height: 40px;
    border: 1px solid rgb(95, 122, 89);
    text-align: center;
    background: #70a572;
    color: white;
}

.list tbody tr:hover {
    background: #d5ecd7;
    color: rgb(45, 49, 45);
}

.list td {
    height: 40px;
    border: 1px solid rgb(179, 201, 176);
    word-wrap: break-word;
}

.list td a {
    color: rgb(65, 138, 65);
    width: 10%;
    cursor: pointer;
}

.list td a:hover {
    color: rgb(243, 18, 18);
}

.last_td {
    width: 14%;
}

.first_td {
    width: 3%;
}

.num_td {
    width: 3%;
}

/* 模态提示框 */

/* 剩下80%的width */
.new_event1 {
    width: 50%;
}

.new_event2 {
    width: 20%;
}

.status {
    width: 10%;
}

.mark {
    color: red;
}

.user1 {
    width: 25%;
}

.user2 {
    width: 15%;
}

.user3 {
    width: 15%;
}

.user4 {
    width: 25%;
}

.news1 {
    width: 50%;
}

.news2 {
    width: 10%;
}

.news3 {
    width: 20%;
}

.policy1 {
    width: 55%;
}

.policy2 {
    width: 25%;
}

/* 自定义模态框 */
.one_modal {
    display: none;
    /* 默认隐藏 */
    position: fixed;
    /* 根据浏览器定位 */
    z-index: 1;
    /* 放在顶部 */
    left: 0;
    top: 0;
    width: 100%;
    /* 全宽 */
    height: 100%;
    /* 全高 */
    overflow: auto;
    /* 允许滚动 */
    background-color: rgba(146, 155, 149, 0.8);
    /* 背景色 */
}

.one-modal-content {
    display: flex;
    /*采用flexbox布局*/
    flex-direction: column;
    /*垂直排列*/
    position: relative;
    background-color: #fefefe;
    margin: 10% auto;
    /*距顶部15% 水平居中*/
    padding: 0px 0px 0px 0px;
    border: 1px solid #888;
    width: 500px;
    min-height: 200px;
    animation: topDown 0.4s;
    /*自定义动画，从模态框内容上到下出现*/
}

@keyframes topDown {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.one-modal-header {
    display: flex;
    /*采用flexbox布局*/
    flex-direction: row;
    /*水平布局*/
    align-items: center;
    /*内容垂直居中*/
    justify-content: space-between;

    background-color: rgb(91, 184, 91);
    color: black;
    padding: 0 0 0 180px;
    margin: 0;
}

.one-modal-body {
    min-height: 150px;
    margin: 10px 20px;
}

#btnSure {
    width: 70px;
    margin: 20px auto;
    padding: 6px 0px;
    display: inline-block;
}

.typeList {
    display: block;
    height: 40px;
}

.type_word {
    display: inline-block;
    width: 140px;
}

.name_word {
    display: inline-block;
    width: 140px;
    font-size: 18px;
    color: #56b34d;
}

.role_name {
    display: inline-block;
    font-size: 18px;
    color: #56b34d;
    line-height: 40px;
}

.role_word {
    display: inline-block;
}

.type_delete {
    float: right;
    margin-right: 70px;
}

.new_type {
    margin: 20px 0px;
}

.new_type input {
    width: 100px;
    display: inline-block;
}

.new_type input:nth-child(2) {
    margin-left: 40px;
}

.newtype_success {
    float: right;
    margin-right: 70px;
}

.two-modal-content {
    display: flex;
    /*采用flexbox布局*/
    flex-direction: column;
    /*垂直排列*/
    position: relative;
    background-color: #fefefe;
    margin: 10% auto;
    /*距顶部15% 水平居中*/
    padding: 0px 0px 0px 0px;
    border: 1px solid #888;
    width: 700px;
    min-height: 300px;
    animation: topDown 0.4s;
    /*自定义动画，从模态框内容上到下出现*/
}

.two-modal-header {
    display: flex;
    /*采用flexbox布局*/
    flex-direction: row;
    /*水平布局*/
    align-items: center;
    /*内容垂直居中*/
    justify-content: space-between;

    background-color: rgb(91, 184, 91);
    color: black;
    padding: 0 0 0 300px;
    margin: 0;
}

.modal-body span {
    font-size: 20px;
}

.file {
    margin-top: 10px;
    width: 500px;
    display: inline-block !important;
}

.btnSure {
    margin: -10px 0px 0px 10px;
}

.name_text {
    margin-top: 20px;
    width: 10%;
    display: inline-block;
}

.input_text {
    margin-top: 20px;
    width: 80%;
    display: inline-block;
}

.quanxian {
    width: 30%;
    display: inline-block;
}

.new_user {
    width: 160px;
    margin: 20px auto;
}

#new_user_btn1 {
    width: 70px;
    padding: 6px 0px;
    display: block;
    float: left;
}

#password_btn1 {
    width: 70px;
    padding: 6px 0px;
    display: block;
    float: left;
}

#new_user_btn2 {
    width: 70px;
    padding: 6px 0px;
    display: block;
    float: right;
}

.user_sapn {
    color: rgb(57, 130, 59);
    margin-left: 100px;
}

.name_textpro {
    margin-top: 20px;
    width: 15%;
    display: inline-block;
}