<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.recycle.dao.user_supMapper">
    <resultMap id="BaseResultMap" type="com.recycle.model.user_sup">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="tel" jdbcType="VARCHAR" property="tel"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, tel, password
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_sup
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="login" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_sup
        where tel = #{tel,jdbcType=VARCHAR} and password = md5(#{password,jdbcType=VARCHAR})
    </select>
    <select id="findByTel" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_sup
        where tel = #{tel,jdbcType=VARCHAR}
    </select>
    <select id="findAll" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        *
        from user_sup
    </select>
    <select id="findUserInformation" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_sup
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_sup
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.recycle.model.user_sup">
    insert into user_sup (tel, password
      )
    values ( #{tel,jdbcType=VARCHAR},md5(#{password,jdbcType=VARCHAR})
      )
  </insert>
    <insert id="insertSelective" parameterType="com.recycle.model.user_sup">
        insert into user_sup
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="tel != null">
                tel,
            </if>
            <if test="password != null">
                password,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="tel != null">
                #{tel,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.recycle.model.user_sup">
        update user_sup
        <set>
            <if test="tel != null">
                tel = #{tel,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.recycle.model.user_sup">
    update user_sup
    set tel = #{tel,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>