<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>用户信息修改</title>
        <link rel="stylesheet" href="../css/user_info_change.css" />
        <link rel="icon" href="../ico.ico" />  

        <script src="../assets/jquery/jquery-3.2.1.min.js"></script>
		<script src="../assets/vue/vue.min.js"></script>
		<script src="../assets/bootstrap/js/bootstrap.min.js"></script>
		<script src="../assets/mylibrary/cookie.js"></script>
		<script src="../assets/mylibrary/urlParam.js"></script>
		<script src="../js/common.js"></script>
	</head>
	<body>
		<div class="info_box">
            <h1>用户信息修改</h1>
            <div class="form" id="info">
                <input type="tel" name="tel" class="tel" v-model="tel" placeholder="tel">
                <input type="text" name="name" v-model="name" class="name" placeholder="name">
                <input type="text" name="address" class="address" v-model="address" placeholder="address">
                <input type="email" name="email" class="email" v-model="email" placeholder="email">
                <button type="submit" id="submit">提交</button>
            </div>
         </div>
	</body>
</html>
<script src="../js/user_info_change.js"></script>
